.FeaturedWork{
    max-width: 100%;
    padding: 50px 100px;
    overflow: hidden;
}
.FeaturedWork__heading{
    font-size: 70px;
    color: whitesmoke;
    text-align: center;
}
.FeaturedWork__container{
    width: 100%;
}
.FeaturedWork__container__row{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.FeaturedWork__box{
    position: relative;
    border-radius: 50px;
    margin: 10px;
    aspect-ratio: 1/1;
    flex-grow: 1;
    width: 40%;
}
.FeaturedWork__box.right{
    min-width: 300px;
    background-color: #9BB8E9;
}
.FeaturedWork__box.left{
    min-width: 300px;
}
.FeaturedWork__box.innerLeft{
    background-color: #F9C2D6;
    opacity: 0;
    transition: .5s;
    transform: translate(-150px,-150px)scale(1.5);
}
.FeaturedWork__box.innerRight{
    background-color: #9BB8E9;
    opacity: 0;
    transition: .8s;
    transform: translate(150px, -150px)scale(1.5);
    transition-delay: .1s;
}
.innerBottom{
    opacity: 0;
    transition: .8s;
    transform: translateY(150px)scale(1.5);
    transition-delay: .2s;
}
.FeaturedWork__box.bottom{
    aspect-ratio: 2/1;
    background-color: #CCADEF;
}


@media only screen and (max-width: 600px){
    .FeaturedWork {
        padding: 50px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .FeaturedWork__box.innerLeft,.FeaturedWork__box.innerRight,.FeaturedWork__box.bottom{
        border-radius: 30px;
    }
}